@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 1rem;
    padding: 0.4rem;
    border: 1px solid black;
    background-color: rgba(173, 216, 230, 0.315);
    min-height: 50vh;
}

input {
    outline: none;
    padding: 0.2rem;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    max-width: 50%;
}

button {
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
}

ul {
    font-size: 1.3rem;
    list-style: none;
    padding-left: 1rem;
}

li {
    background-color: rgba(173, 192, 230, 0.568);
    margin: 0.5rem;
    position: relative;
    padding: 0.5rem;
}

li:nth-of-type(odd) {
    background-color: rgba(173, 216, 230, 0.753);
}

li::before {
    content: attr(data-id);
    margin-right: 1rem;
}

.btnDelete {
    display: none;
    cursor: pointer;
    border: 0;
    color: red;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

li:hover .btnDelete {
    display: block;
}
